@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cocktail Cookbook</h1>
    <p>Upload recipes, discuss ideas, propose changes and make the bar a better place...<br/> or at least not as bad.</p>
</div>
