@model IEnumerable<CocktailCookbook.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cocktail Cookbook</h1>
    <p>Upload recipes, discuss ideas, propose changes and make the bar a better place...<br /> or at least not as bad.</p>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-cocktails" type="button" role="tab" aria-controls="nav-cocktails" aria-selected="true">Cocktails</button>
        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="false">Pending Task List</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-completed" type="button" role="tab" aria-controls="nav-completed" aria-selected="false">Completed Task List</button>

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-cocktails" role="tabpanel" aria-labelledby="nav-cocktail-tab">This will contain cocktail, with ingredients, recipe and measures.<partial name="_CocktailCardPartial" model="ViewBag.Cocktails" /></div>
    <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab"><p>This is a list of current tasks. If a task has been marked in error, it can be found on the Jobs page</p><partial name="_JobsPartial" model="Model" /> </div>
    <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">Completed Tasks can be found here<partial name="_CompletedJobsPartial" model="ViewBag.CompletedJobs" /></div>

</div>
<div>
    @*//need to pass the model to theview*@

</div>