@model CocktailCookbook.ViewModels.CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cocktail</h4>
<hr />
<div class="container row pb-5">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
                <textarea asp-for="Method" class="form-control" placeholder="Type the method here"></textarea>
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Glassware" class="control-label"></label>
                <br />
            <select asp-for="Glassware" asp-items="ViewBag.Glasses" class="custom-select"></select>
             @*@Html.DropDownList("Glasses", "Select Glassware")*@

            <span asp-validation-for="Glassware" class="text-danger"></span>
             </div>
           
            <div class="form-group">
                <label asp-for="Garnish" class="control-label"></label>
                <input asp-for="Garnish" class="form-control" />
                <span asp-validation-for="Garnish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <textarea asp-for="Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @*<partial name="_IngredientPartial" />*@

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
