@model Comment

<div class="card">
    <div class="card-header">
        <p>on @Model.Time.ToLongDateString() at @Model.Time.ToShortTimeString() by @Model.Author.NickName :</p>
    </div>
    <div class="card-body">
     
        <p>@Model.Content</p>
    </div>
   
</div>

