@model CocktailCookbook.Models.ReplyCommentViewModel

@{
    ViewData["Title"] = "Reply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reply</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="Time" class="form-control" hidden />

            </div>
            <div class="form-group">
                <label class="control-label">Replying to @Model.OriginalPost.Author.NickName on : @Model.OriginalPost.Content </label>
                <input asp-for="Id" class="form-control" value="@Model.OriginalPost.Id" hidden />

            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Comment</label>
                <textarea asp-for="Content" class="form-control"></textarea>

                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input asp-for="Author" class="form-control" hidden value="@Model.Author" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@{ foreach (var comment in Model.OriginalPost.Comments)
    {
        <div>
                        
            @{ await Html.RenderPartialAsync("_commentPartial", comment);}

        </div>
                    }
                }


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
